@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Master Chef</h1>   
</div>

<div class="row">
    <div class="col-md-12">        
        <h2>Site projeto para o encerramento de conteúdo.</h2>        
</div>    
</div>